<?xml version="1.0" enconding="utf-8"?>
<configuration>
    <packageSources>
        <clear />    
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="ItellYou-Nexus" value="https://repository.labs.itellyou.ca/repository/nuget-hosted/"  />
    </packageSources>
</configuration>